body, html{
    padding: 0px;
    margin: 0px;
    background-color: #ededed;

}


.BGBody{
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: #26a65b;
}
.BGBody::-webkit-scrollbar{
    display: none;
}

.BGContainer{
    width: 100%;
    min-width: 500px;
    margin: 0px;
    text-align: center;
}

.BGHead{
    background-color: #b32028;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    padding: 0px;
    font-size: xxx-large;
    font-font: Arial, Helvetica, sans-serif;
}

.ArticleContainer{
    width: 100%;
    height: 900px;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    min-width: 500px;
}